.card-container
  padding: 0
  max-width: 80%
  margin: 1rem auto
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  .card-avatar
    min-width: 240px
    width: 90%
    height: 240px
    border-radius: 0

  .card-info
    padding: 2.5rem

    .card-title
      text-align: justify

    .card-btn
      margin-top: 0.5rem
