.card-even
  flex-direction: row
.card-odd
  flex-direction: row-reverse

.card-odd, .card-even
  width: 100%
  margin: 2rem auto
  display: flex
  justify-content: space-evenly
  align-items: center 

  .article-avatar
    height: 200px
    width: 160px

  .article-info
    height: 100%
    width: 45%

    .article-title
      text-align: justify
      font-size: 0.65em
      font-weight: bold

    .article-subtitle
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      margin: 0.25rem 0

      .article-date
        font-size: 0.5em

      .article-site
        padding: 0.25rem
        font-size: 0.5em

    .article-summary
      font-size: 0.55em

    .article-btn
      margin-top: 0.25rem
      font-size: 0.45em

@media (min-width: 1024px)
  .card-odd, .card-even
    width: 70%
    justify-content: space-between

    .article-avatar
      width: 440px
      height: 360px

    .article-info
      width: 50%

      .article-title
        font-size: 1.3em

      .article-summary
        font-size: 1em

      .article-subtitle
        .article-date, .article-site
          font-size: 0.9em

      .article-btn
        font-size: 1em
